1. Print cookies and milk are a great dessert.

In [5]:
print ("cookies and milk are a great dessert")

cookies and milk are a great dessert

2. Print out your favorite color and above the code comment out what you are doing.

In [8]:
# I am eating fruits
print ("red")

red

3. Make an in-line comment.

In [11]:
x=4 # the square root of sixteen

4. Make a block comment for yourself.

In [ ]:
# complete this assignment tonight 
# after completion watch the nba finals 
# my prediction is the lakers will win tonight

5. Print what 6 to the 7th power is.

In [15]:
print (6**7)

279936

6. Print the remainder of 100 divided by 11.

In [19]:
print (100%11)

1

7. Print out if 25 multiplied by 54 is bigger than 33 multipled by 33

In [27]:
(25*54) >= (33*33)

True

8. Print out 100 divided by 5

In [20]:
print (100/5)

20.0

9. How do I figure out what is my data type I'm working with?

In [31]:
# use the type() function

10. Create a variable named foo that stores a string, Instructor.

In [ ]:
foo = Instructor

11. Print the variable you created before out below

In [49]:
foo = "Instructor"
print (foo)

Instructor

12. Create a variable called height and store your height value there.
Print a sentence describing your height and use the variable in the sentence as well.
Use a comma sentence.

In [77]:
x = "180.4 cm"
print ("Nurse asked me how tall I was, i told her I am"), print (x)

Nurse asked me how tall I was, i told her I am
180.4 cm

(None, None)

13. Use the last code, but now make it a printed formatted string.

In [76]:
height = "180.4 cm"
print ("Nurse asked me how tall I was, i told her I am"), print (height)

Nurse asked me how tall I was, i told her I am
180.4 cm

(None, None)

14. Round 4.5667 to the nearest hundreth.

In [79]:
round (4.5667, 3)

4.567

15. Concate two strings together using variables and print out that new variable

In [80]:
x=5
y=5
print (x+y)

10

16. Use the two different quotes in a string and print out the sentence

In [84]:
a= "We are in the month of October,"
b= "Thanksgiving is next month"
print (a,b)

We are in the month of October, Thanksgiving is next month

17. Print out Hello World! 7 times each on a new line using only one line of code.

In [99]:
print ("Hello World!")
print ("Hello World!")
print ("Hello World!")
print ("Hello World!")
print ("Hello World!")
print ("Hello World!")
print ("Hello World!")
range (7)

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

range(0, 7)

18. Print a block quote string. Next indent each line and run it again.

19. Ask for the person's favorite season and print out Your favorite season is __theAnswer__

In [110]:
Me= Whats your favorite season?
Person= "Spring"
print ("My favorite season is"), print (Person)

Object `season` not found.
My favorite season is
Spring

(None, None)

20. Convert "657" to an integer data type - confirm the convertion using print statement

In [102]:
x=657
print(float(x))

657.0

21. Enhance the Miles Per Gallon Program from the class lesson.  Get gas price per gallon and compute total gas cost and cost per mile. The output should look something like this:
        
        Enter miles driven:            150
        Enter gallons of gas used:     15
        Enter cost per gallon:         3
        
        Miles Per Gallon:              10.0
        Total Gas Cost:                45.0
        Cost per Mile:                 0.3

In [140]:
miles_drove = 150  
miles_pergallon = 10
cost_pergallon = 3

gallons_used= miles_drove / miles_pergallon
total = gallons_used * cost_pergallon
print(total)

45.0